* {
    text-decoration: rgb(25, 26, 26);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    color: rgb(10, 0, 0);
    flex-wrap: wrap;
}
ul li a{
    text-decoration: none;
    list-style: none;
    color: rgb(10, 0, 0);
    size: 2rem;
}

h4 {
    color: #2c3e50;
     font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}
h2 {
    font-size: 32px;
    line-height: 3.2rem;
    color: rgb(14, 34, 211);
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;


}
h3 {color: #2c3e50;
     font-size: 36px; 
     font-weight: 700; 
     margin-bottom: 30px;
    }

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #555; 
    font-size: 18px;
    line-height: 1.8;
     margin-bottom: 25px;
}

body {
    font-family: var(--default-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7em;
    color: #212529;
    background-color: var(--white-color);
}

.navigation_bar ul li a {
    text-decoration: none;
    color: rgb(235, 227, 227);
    size: 2rem;
}

.contaier1 {
    width: 100%;
    height: 50px;
    margin: 0;
    padding-bottom: 0;
    background: rgb(5, 103, 222);

}

.contact_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 70, 197);
    padding: 10px;
    font-size: 1.2rem;

}

.contact_info ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 35px;
    list-style: none;
    color: white;

}

.contact_info ul li.contact a {
    font-weight: bold;
}

.contact_info ul li.email {
    font-style: italic;
}

.logo_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .main_property_container {
        padding: 23px 0px;
    }
}

.main_property_container {
    background: rgb(32, 70, 197);
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0px;
    display: flex;
    flex-wrap: wrap;

}

.property_container {
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 10px;
}

@media only screen and (max-width: 767px) {
    .property_container h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
}

.property_container h1 {
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
    line-height: 2.2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.property_container ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
    color: white;

}

.property_container ul li a {
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    color: rgb(243, 242, 242);
    size: 10rem;
    justify-content: center;
    align-items: center;
}

.sec {
    display: flex;

    width: 100%;
    height: auto;
    margin: 0px;
    padding: 40px 0px;
    background-color: rgb(246, 247, 249);
    align-items: center;
    justify-content: center;
}


.content_container {
    padding: 10px 0px;
}

.content_container h2 {
    font-size: 32px;
    line-height: 2.2rem;
    color: rgb(14, 34, 211);
    margin-bottom: 20px;
    font-weight: bold;

}

.btn_containers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 20px;
    margin-top: 20px;
}

.btn_containers .btn1 {
    display: flex;
    background-color: rgb(5, 103, 222);
    border: none;
    padding: 8px 6px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    justify-content: left;

}

.btn_containers .btn1:hover {
    animation: both 0.3s ease-in-out;
    background-color: rgb(32, 70, 197);
    color: white;
}

.btn_containers .arrow {
    display: flex;
    background-color: transparent;
    border: 2px solid rgb(219, 220, 221);
    margin-right: 2px;
    padding: 5px 8px;
    border-radius: 114px 114px 114px 114px;
    cursor: pointer;
    font-size: 16px;
}

.btn_containers .arrow:hover {
    background-color: rgb(70, 144, 235);
    color: white;
    border: none;
}

.img .img1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 32px;
    float: right;
}

.img .img1:hover {
    animation: both 0.3s ease-in-out;
    transform: scale(1.05);

}

span.service_container {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(246, 247, 249);
    align-items: center;
    justify-content: center;
}

.services {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1em;
    text-transform: capitalize;
    background-color: rgb(30, 106, 156);
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    border-radius: 99px;
    padding: 10px 20px;
}

.services_container2 {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px;
    /* border: 2px solid rgb(200, 200, 200); */
    /* background-color: rgb(255, 255, 255); */
    align-items: center;
    justify-content: center;
}

.services_container2 .service_box {
    display: flex;
    width: 97%;
    height: 170px;
    margin: 0;
    padding-right: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 20px;
    align-items: center;
    justify-content: left;


}

.services_container2 .service_box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.color-change-box {
    position: relative;
    overflow: hidden;
    width: auto;
    height: auto;
    background: rgb(253, 250, 250);
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    z-index: 1;
}

.color-change-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgb(5, 103, 222);
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.color-change-box:hover::before {
    left: 0;
}

.color-change-box:hover {
    color: white;
}

/* .adjust_img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 32px;
    float: left;
    width: 120px;
} */
.service_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 32px 32px 32px 32px;
    border: 1px solid rgb(37, 34, 34);
    float: left;
    width: 120px;

}

.service_logo:hover {
    animation: both 0.3s ease-in-out;
    transform: scale(1.05);


}
.sec3 {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0px;
    padding:  10px;
    background-color: rgb(116, 199, 235);
    align-items: center;
    justify-content: center;
}
.sec3 .row {
    display: flex;
    align-items: center;
    justify-content: center;

}
.faq_section {
    display:  inline-flex;
    width: 100%;
    height: auto;
    margin: 20px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 20px;
    background-color:aliceblue
}
.faq_color{
    color: white;
}
.question-bar {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
}

.question-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* .question-bar:hover{
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
} */
.question-bar .question-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.question-bar .question-box .question {
    display: flex;
    line-height: 2.2rem;
    border-radius: 170px;
    padding-left: 170px;
    padding-right: 170px;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    gap: 3px;
    align-items:center ;
    justify-content: center;
    border-radius: 120px;
    background-color: white;
}
.answer{
    display: inline-block;
    line-height: 1.2rem;
    padding-left: 170px;
    padding-right: 170px;
    padding: 10px;
    font-weight: bold;
    gap: 3px;
    align-items:center ;
    justify-content: center;
    background-color: black ;
    border-radius: 20px;

}
.answer .para{
    color: white;
}



@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
  .location-section{
        padding: 80px 0;
    
  }
  .container{
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1300px;
   
  }.location-card{
    padding: 80px 0;
    background: #fff; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 20px 15px 40px rgba(0,0,0,0.1);

  }.location-content{
    padding: 60px 50px
  }
  .clinic-hr{
    background: linear-gradient(135deg, #f0f9ff, #e0f2fe); 
    padding: 30px;
     border-radius: 15px;
      margin-top: 35px;
      border: 2px solid #bbe1fd;
    }
    .clinic-hr .p{
        color: #555;
        font-size: 18px;
        margin-bottom: 12px;
    }
    .clinic-hr #contact-box{
        color: #4facfe;
        font-size: 18px;
        margin-top: 20px;
        font-weight: 600px;
    }
  iframe{
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 20px;
    box-shadow: 20px 15px 40px rgba(0,0,0,0.1);
  }
  footer{
    display: block;
    unicode-bidi: isolate;
  }
  .main-footer{
    background-color: rgb(32, 70, 197);
    padding: 40px 0;
    color: white;
    text-align: center;
  }.about-footer-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }.about-footer-content #blue{
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #e7ecec;
  }
.footer .footer-logo img{
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }
  ul{
    list-style: none;
  }

  .footer-social-links ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 120px;
    list-style: none;
    margin-top: 20px;
  }
  .footer-social-links ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
    .footer-about-links ul li a{
        color
: white;
        font-size: 16px;
        text-decoration: none;
    }
    
    .footer-about-links ul li a:hover{
        color: rgb(200, 200, 200);
    }
    .footer-social-links ul li a:hover{
        color: rgb(200, 200, 200);
    }
    .footer-bottom{
        margin-top: 30px;
        font-size: 14px;
        color: white;
    }
    .footer-bottom a{
        color: white;
        text-decoration: none;
    }
    .footer-bottom a:hover{
        color: rgb(200, 200, 200);
    }
    .work-hrs{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-working-hour h3{
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
        color: rgb(245, 242, 242);
    } .about-working-hour ul li{
        color: white;
        font-size: 16px;
        margin-bottom: 0px;
    }


     .services-list ul{
        list-style: none;
        padding: 0;
        margin: 0;}
   .services-list ul li a{
        color: white;
        font-size: 16px;
        text-decoration: none;
    }.about-service-list h3{
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
        color: rgb(245, 242, 242);
    }
    .footer-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-contact h3{
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
        color: rgb(245, 242, 242);
    }

    
    /* .footer-contact .footer-contact-detail .footer-info-box ul li{
        color: rgb(243, 238, 238);
        font-size: 16px;
        margin-bottom: 10px;
    } */





